body{

    margin: 0;
}

.container {
    
    width: 100vw;
    height: 100vh;

    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;

    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.navigation-bar {
    grid-column: 1 / span 4;
    
}

.recommendation { 
    grid-row: 2 / span 3;
}

.content {

    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
}

.footer {
    grid-column: 1 / span 4;
}


